<h2>Register a new book as a Wandering Chronicle</h2>
<h3>Tell us all about it below</h3>
<form ng-submit="books.search()">
  <label for="book-detail">Enter a title, author, or ISBN</label>
  <input id="book-detail" type="text" name="" value="" ng-model="books.newBook.searchTerm">
  <button type="submit" name="button">Search</button>
</form>
<section class="search-results">
  <ul >
    <li ng-repeat="book in books.bookResults.data.items track by $index">
      <p class="book-title">{{ book.volumeInfo.title }}</p>
      <img src="{{  }}" alt="{{  }}">
    </li>
  </ul>
</section>

{{ books.newBook }}
