<div class="container">
  <h2>I found a book!</h2>
  <div class="redBook">
    <img src="https://maospropaganda.wikispaces.com/file/view/myl051968.jpg/271005720/myl051968.jpg" alt="">
  </div>
  <h4>{{ booksFound.message }}</h4>
  <p>If you so happen to find a freed book, don’t panic. You can keep it… for a time. Just tell us when you’ve found one and enter the unique code that comes with the book. And then leave a comment about the book on its profile. All our books have a storied past and we like to keep it that way. Then set it free again after you’re done. Warning: if it so much as touches the dreaded shelf, we will know.</p>
  <form ng-submit="booksFound.findBook()">
    <label for="codeInput">Enter the unique code</label>
    <input type="text" class="u-full-width" placeholder="Code" id="codeInput" ng-model="booksFound.shortId" />
    <input class="button" type="submit" value="Find the book">
  </form>
</div>
