<div class="container">

  <h2>Drop a book</h2>

  <form ng-submit="books.selectBook()" ng-hide="books.showBook">
    <div class="row">
      <div class="ten columns">
        <label for="book-detail">Enter a title, author, or ISBN</label>
        <input
    class="u-full-width"
    id="book-detail"
    type="addBook"
    name="addBook"
    ng-model="books.asyncSelected"
    uib-typeahead="book.title + ' (' + book.author + ')' for book in books.searchGoogle($viewValue)"
    typeahead-wait-ms="500"
    typeahead-on-select="books.chooseBook($item, $model, $label)"
    placeholder="Search for a book"
    autocomplete="off">
      </div>
    </div>
    <input type="submit" value="Select" ng-show="books.bookChosen">
  </form>
  <div ng-show="books.showBook">
    <img src="{{ books.book.image }}" alt="{{ books.book.title }}" ng-show="books.book.image">

    <h1>{{ books.book.title }}</h1>
    <h4>{{ books.book.author }}</h4>
    <p ng-show="books.book.description">{{ books.book.description }}</p>

    <h4>Tell us about this book</h4>

    <form ng-submit="books.addBook()">
      <div class="row">
        <div class="six columns">
          <label for="usernameInput">Name</label>
          <input class="u-full-width" type="text" placeholder="Name" id="usernameInput" ng-model="books.name">
        </div>
        <div class="six columns">
          <label for="locationInput">Location (area/address/postcode)</label>
          <input class="u-full-width" type="text" placeholder="Location" id="locationInput" ng-model="books.location" required>
        </div>
      </div>
      <label for="messageInput">Message*</label>
      <textarea class="u-full-width" placeholder="The story goes like this..." id="messageInput" ng-model="books.message" required></textarea>
      <input class="button" type="submit" value="Add story">
    </form>
  </div>
</div>
