<div class="container">
<div ng-hide="books.showBook">
  <h2>Free A Book</h2>
  <div class="agitprop">
    <img src="https://s-media-cache-ak0.pinimg.com/736x/bb/96/8d/bb968ddb54a0fa7caca7af4a5edae727.jpg" alt="">
  </div>
<p>Our calling is to liberate. Set the books you love free by leaving them anywhere: parks, the Tube, the Tate, the Thames. Abandon them to live with abandon, free of the fascist influence of the bookshelf.</p>
<p>
  First search for a book in the search feature below and register it. When you do register it, we will provide you with a <strong>unique code</strong> for the book which you must then write on it along with a link to our movement, <strong>freethebooks.com</strong>. Then release it into the wild for someone else to find. They can use the code to identify the book as yours. And be sure to begin your book’s story with a telling comment.
</p>
</div>

  <form ng-submit="books.selectBook()" ng-hide="books.showBook">
        <label for="book-detail">Enter a title, author, or ISBN</label>
        <input
    class="u-full-width"
    id="book-detail"
    type="text"
    name="addBook"
    ng-model="books.asyncSelected"
    uib-typeahead="book.title + ' (' + book.author + ')' for book in books.searchGoogle($viewValue)"
    typeahead-wait-ms="500"
    typeahead-on-select="books.chooseBook($item)"
    placeholder="Search for a book"
    autocomplete="off">
    <input type="submit" value="Select" ng-show="books.bookChosen">
  </form>
  <div ng-show="books.showBook">
    <img class="book-thumbnail-new" src="{{ books.book.image }}" alt="{{ books.book.title }}" ng-show="books.book.image">

    <h1>{{ books.book.title }}</h1>
    <h4>{{ books.book.author }}</h4>
    <p ng-show="books.book.description">{{ books.book.description }}</p>

    <h4>Tell us about this book</h4>

    <form ng-submit="books.addBook()">
      <div class="row">
        <div class="twelve columns">
          <label for="locationInput">Location (area/address/postcode)</label>
          <input class="u-full-width" type="text" placeholder="Location" id="locationInput" ng-model="books.location" required>
        </div>
      </div>
      <label for="messageInput">Message*</label>
      <textarea class="u-full-width" placeholder="The story goes like this..." id="messageInput" ng-model="books.message" required></textarea>
      <input class="button" type="submit" value="Add story">
    </form>
  </div>

</div>
