<div class="container">

  <h2>Register a new book as a Wandering Chronicle</h2>
  <h3>Tell us all about it below</h3>

  <form ng-submit="books.selectBook()" ng-hide="books.showBook">
    <div class="row">
      <div class="ten columns">
        <label for="book-detail">Enter a title, author, or ISBN</label>
        <input
    class="u-full-width"
    id="book-detail"
    type="addBook"
    name="addBook"
    ng-model="books.asyncSelected"
    uib-typeahead="book.title for book in books.searchGoogle($viewValue)"
    typeahead-on-select="books.chooseBook($item, $model, $label)"
    placeholder="Search for a book"
    autocomplete="off">
      </div>
    </div>
    <input type="submit" value="Select">
  </form>
  <div ng-show="books.showBook">
    <img src="{{ books.book.image }}" alt="{{ books.book.title }}">

    <h1>{{ books.book.title }}</h1>
    <h4>{{ books.book.author }}</h4>
    <p>{{ books.book.description }}</p>

    <h4>Found the book? Tell us how!</h4>
    <form ng-submit="books.addBook()">
      <textarea class="u-full-width" placeholder="The story goes like this..." ng-model="BooksShow.entry"></textarea>
      <input class="button" type="submit" value="Add story">
    </form>

    <!-- <h4>The journey so far....</h4>
    <p ng-repeat="entry in BooksShow.book.entries">
      <cite>{{ entry.message }}</cite>
      <em>{{ entry.name }}</em>
      {{ entry }}
    </p> -->

  </div>
</div>

<!-- <input class="u-full-width" id="book-detail" type="text" name="" value="" ng-model="books.newBook.searchTerm"> -->
<!-- <section class="search-results">
  <ul >
    <li ng-repeat="book in books.bookResults.data.items track by $index">
        <div ng-click="books.selectBook(book)">
          <p class="book-title">{{ book.volumeInfo.title }}</p>
          <img src="{{ book.volumeInfo.imageLinks.thumbnail }}" alt="{{ book.volumeInfo.title }}">
        </div>
    </li>
  </ul>
</section> -->
