<div class="container">
  <h1>FREED BOOKS</h1>

  <div class="book-index">
    <slick slides-to-show="5" slides-to-scroll="3" init-onload="true"  data="booksIndex.books" class="slider multiple-items" dots="true" arrows="true" rows="2">
      <div ng-repeat="book in booksIndex.books">
        <span ng-click="booksIndex.showDescription(book)" class="bookLinkIndex"><img ng-src="{{ book.image }}" alt="{{ book.title }}" class="bookImageIndex"></span>
        <!-- <a ui-sref="booksShow({ shortId: book.shortId })" class="bookLinkIndex"><img ng-src="{{ book.image }}" alt="{{ book.title }}" class="bookImageIndex"></a> -->
      </div>
    </slick>
  </div>

<div class="bookIndex-description" ng-if="booksIndex.showInfo">
  <!-- {{ booksIndex.chosenBookorUser }} -->
  <h2>{{ booksIndex.chosenBookorUser.title }} by {{ booksIndex.chosenBookorUser.author}}</h2><br>
  {{ booksIndex.chosenBookorUser.entries[booksIndex.chosenBookorUser.entries.length-1].name }} at {{ booksIndex.chosenBookorUser.entries[booksIndex.chosenBookorUser.entries.length-1].location }}<br>
  <strong>{{ booksIndex.chosenBookorUser.entries[booksIndex.chosenBookorUser.entries.length-1].message }}</strong><br>
  <a class="button" ui-sref="booksShow({ shortId: booksIndex.chosenBookorUser.shortId })">Find out more about {{ booksIndex.chosenBookorUser.title }}</a>
</div>
  <h1 ng-show="main.user">TOP USERS</h1>

  <div class="book-index">
    <slick slides-to-show="5" slides-to-scroll="3" init-onload="true"  data="booksIndex.users" class="slider multiple-items" dots="true" arrows="true" rows="2">
      <div ng-repeat="user in booksIndex.users">
        <span ng-click="booksIndex.showDescription(user)"><img ng-src="{{ user.img }}" alt="{{ user.username }}" class="bookImageIndex"></span>
        <!-- <a ui-sref="usersShow({ id: user._id })" class="bookLinkIndex"><img ng-src="{{ user.img }}" alt="{{ user.username }}" class="bookImageIndex"></a> -->
      </div>
    </slick>
  </div>
  <div class="bookIndex-description" ng-if="booksIndex.showInfo">
    <h2>{{ booksIndex.chosenBookOrUser.username }}</h2><br>
    <!-- {{ booksIndex.chosenBookOrUser.books[0].title }} -->
    <!-- <a ng-repeat="book in booksIndex.chosenBookOrUser.books" ui-sref="booksShow({ shortId: book.shortId })">{{ book.title }}</a><br> -->
<!-- <a class="button" ui-sref="usersShow({ id: users._id })">Find out more about {{ booksIndex.chosenBookOrUser.username }}</a> -->
  </div>
</div>
<!-- <div id="map"></div> -->
