<!DOCTYPE html>
<html ng-app="angularAuthentication" lang="en">
<head>
  <meta charset="utf-8">
  <title>The Wandering Chronicle</title>
  <base href="/" />
  <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzPfoyVbxG2oz378kpMkMszn2XtZn-1SU" charset="utf-8"></script>
</head>
<body ng-controller="MainCtrl as main">
  <header>
    <nav>

    <div class="menu-collapsed">
      <div class="bar"></div>
        <ul>
          <li class="menu-link" ng-show="main.user">
            <a ng-click="main.hideMenu()" ui-sref="usersShow({ id: main.user._id })">PROFILE</a>
          </li>
          <li class="menu-link" ng-hide="main.user">
            <a ui-sref="register">JOIN THE MOVEMENT</a>
          </li>
          <li class="menu-link" ng-hide="main.user">
            <a ui-sref="login">SIGN IN</a>
          </li>
          <li class="menu-link" ng-show="main.user">
            <a ui-sref="booksFound">I FOUND A BOOK</a>
          </li>
          <li class="menu-link" ng-show="main.user">
            <a ui-sref="booksNew">LIST A NEW BOOK</a>
          </li>
          <li class="menu-link" ng-show="main.user">
            <a ui-sref="usersIndex">Users (Dev)</a>
          </li>
          <li class="menu-link" ng-show="main.user">
            <a ui-sref="booksIndex">BOOKS</a>
          </li>
          <li class="menu-link" ng-show="main.user">
            <a ng-click="main.logout()">Logout (dev)</a>
          </li>
        </ul>
    </div>
    <p><a class="logo" href="/">FREE THE BOOKS</a></p>
  </nav>
  </header>

  <main ui-view class="main-container container"></main>
</body>
</html>

<!-- small change for commit -->
