body {
  background: #F7F7F7;
  margin-bottom: 0px;
}

a {
  color: #000;
}

.agitprop img {
  height: 250px
}

#mapProfile {
  border: 1px solid #dddddd;
}
// slick arrows
.slick-next:before,
.slick-next:after,
.slick-prev:before,
.slick-prev:before {
  color: black;
}
.books-list {
  float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 200px;
}
main {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 3em;
  p {
    font-family: 'Slabo 27px', serif;
    font-size: 1.5em;
  };
  ul li {
    font-family: 'Slabo 27px', serif;
    font-size: 1.5em;
  }
}
.main-logo {
  background-color: #CF4646;
  // background-image: url('http://www.imgbase.info/images/safe-wallpapers/miscellaneous/flags/42753_flags_japan_rising_sun_flag.jpg');
  text-align: center;
  margin-top: 0;
  padding-bottom: 3em;
  margin-top: -50px;
}
.book-index {
  margin: 0 auto;
}
.agitprop {
  text-align: center;
}

/// USER SHOW PAGE
.userThumbnail {
  margin: 5px;
}

.profilePic {
  width: 300px;
}
.userProfileDetails {
  margin: 0;
  padding: 0;
}
.user-details {
}
.infoWindowText {
  margin: 0;
  padding: 0;
}
.user-details img {
  float: left;
  margin-right: 15px;
}
.users-books {
  clear: both;
}
.users-book-list, .users-comments {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.user-book-tile {
  // padding: 2em 0;
  width: 100%;
}

.book-header {
  text-align: left;
}

h4.book-header {
  margin-bottom: 0;
}

.book-description {
  clear: both;
  margin-top: 2em;
}
.user-book-image {
  // border: 1px solid red;
  clear: left;
  float: left;
  padding-top: 1.5em;
  width: 25%;
}
.comment-indent {
  padding-left: 1em;
  // margin-top: 1.5em;
  // margin-bottom: 1.7em;
}
.user-book-content {
  // border: 1px solid blue;
  clear: right;
  float: right;
  width: 70%;
}
.bookImageIndex {
  margin: 0 auto;
  width: 156px;
  height: 240px;
}
// vertically center the books
.slick-initialized .slick-slide {
  float: none;
  display: inline-block;
  vertical-align: middle;
}
#map{
  height:500px;
  width:1000px;
  box-shadow: 3px 3px 10px gray;
}
#mapProfile {
  width: 100%;
  height: 500px;
}
.book-image {
  float: left;
  text-align: center;
  width: 25%;
}

.book-details {
  display: inline-block;
  max-width: 75%;
  text-align: left;
  vertical-align: baseline;
}

.book-journey, .book-show-form {
  clear: both;
}
.bookIcon {
  width: 30px;
}
.slick-initialized .slick-slide.feedBox {
  text-align: center;
  vertical-align: top;
  img {
    margin: 0 auto;
  }
}
.loader {
  cursor: pointer;
  &:hover {
    color: lighten(black, 25%);
    text-decoration: underline;
  }
}
.container.index {
  text-align: center;
}
div.test {
  text-align: center;
  display: inline-block;
  margin: 1px;
  width: 49%;
  height: 300px;
  vertical-align: top;
  img {
    width: 100%;
    height: 250px;
  }
  @media screen and (min-width: 600px) {
    width: 19%;
  }
}
////////////////////////////////////////
// MENU
////////////////////////////////////////
nav {
  min-height: 75px;
  display: block;
  width: 100vw;
  background-color: #CF4646;
  font-family: 'Anton', sans-serif;
  margin-bottom: 50px;
  text-align: center;
  .logo {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding: .5em 0;
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-family: 'Anton', sans-serif;
  }
  p {
    margin: 0;
  }
}

.icon {
  display: inline-block;
  padding: 15px;
}
.fist {
  // background-image: url('');
  // background-repeat: no-repeat;
  // min-height: 200px;

}
.b-a {
  transition: all .25s;
  content: "";
  position: absolute;
  left: 0;
  height: 6px;
  width: 30px;
  border-radius: 15px;
  background-color: black;
}
.menu-collapsed {
  transition: all .25s;
  position: fixed;
  top: 10px;
  left: 9px;
  height: 36px;
  width: 36px;
  z-index: 1;
  cursor: pointer;
  ul {
    transition: all 0s;
    position: fixed;
    left: -9000px;
  }
}
.bar {
  @extend .b-a;
  position: fixed;
  left: 20px;
  top: 35px;
  &:before {
    @extend .b-a;
    top: -8px;
  }
  &:after {
    @extend .b-a;
    top: 8px;
  }
}
.b-a-expanded {
  transition: all .25s;
  top: -0px;
}
.menu-expanded {
  transition: all .25s;
  text-align: center;
  line-height: 200px;
  height: 100%;
  width: 100%;
  border-radius: 0px;
  top: 0;
  left: 0;
  background-color: #CF4646;
  ul {
    transition: all 0s;
    position: relative;
    left: 0;
    z-index: 2;
  }
  a {
    transition: all .15s;
    text-decoration: none;
    font-size: 2em;
    padding: 5px;
    color: #222;
    &:hover {
      transition: all .15s;
      letter-spacing: 2px;
      border: 1px solid rgba(255, 255, 255, .15);
    }
  }
  .bar {
    background-color: transparent;
    transition: all .25s;
    &:before {
      @extend .b-a-expanded;
      transform: rotate(45deg);
    }
    &:after {
      @extend .b-a-expanded;
      transform: rotate(-45deg);
    }
  }
}
ul {
  .menu-link {
    list-style-type: none;
    margin: 0;
    padding: .5em 2em;
    max-height: 3em;
    text-align: left;
    a {
    }
  }
}
h1, h2, h3, h4, h5 {
  font-family: 'Anton', sans-serif;
  text-align: center;
  margin-top: 1em;
}
.quote {
  // border-left: 4px solid #CF4646;
  // margin-left: 5em;
  // padding-left: 1em;
  font-size: 2em;
  text-align: center;
}
.quoteAuthor {
  text-align: center;
}
.manifesto {
  max-width: 700px;
  a.button {
    display: block;
    background-color: #CF4646;
    outline: none;
    color: black;
    font-size: 1.2em;
    font-family: 'Anton', sans-serif;
  }
}

div.button {
  float: right;
  background-color: #CF4646;
  color: white;
  a#logout {
    color: black;
    font-family: 'Anton', sans-serif;
    font-size: 1.2em;
  }
}

.book-thumbnail-new {
  display: block;
  margin: 0 auto;
}


.shortId {
  background-color: black;
  color: #CF4646;
  padding: .5em;
  margin-bottom: 1em;
}
